.link {
    color: white;
    text-decoration: none;
}

.code-card {
    margin-bottom: 20px;
}

.code-load {
    position: absolute;
    top: 85px;
    left: 41%;
}

.brand-image {
    margin: 20px 0;
}

.page-container {
    width: 89%;
    margin: 0 auto;
}
